doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.js")
  body
    block content