extends layout

block content
	.main.container
		.row
			.col-md-6.col-md-offset-3
				h2.text-center= title
				form(method='POST' action='/login')
					div.form-group
					label(for='email') Email:
					input#email.form-control(type='email', placeholder='name@email.com' name='emailid')

					div.form-group
					label(for='pw') Password:
					input#pw.form-control(type='password' name='password')
					
					div.form-group
					button.btn.btn-info.form-control(type='submit') login