{{> head}}
<div class="container">
    <h2 class="text-center">{{title}}</h2>
    <form  action="/login" method="post">
    	<div class="form-group">
    		<label for="emailid">Email:</label>
			<input class="form-control" name="emailid" placeholder="Email" type="email"> 
    	</div>
		<div class="form-group">
    		<label for="password">Password:</label>
			<input class="form-control" name="password" placeholder="password" type="password"> 
    	</div>
    	<div class="form-group text-center">
    		<button class="btn btn-info btn-block" type="submit">Sign up</button>
    	</div>
    </form>
</div>
{{> foot}}